@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-mono; /* Default to Azeret Mono for general text */
}

h1, h2, h3, h4, h5, h6, nav, button {
  @apply font-sans; /* Use Inter for headings and UI */
}

.safe-area-top {
  padding-top: env(safe-area-inset-top, 20px);
}

.safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom, 34px);
}
.safe-top-64 {
  padding-top: calc(env(safe-area-inset-top, 20px) + 64px);
}